{% extends 'music/base.html' %}

{% block title %}Detail{% endblock %}

{% block body %}
    <img src="{{ album.albumLogo }}" height="400px">

    <h1>{{ album.albumTitle }}</h1>
    <h3>{{ album.artist }}</h3>

    {% for song in album.song_set.all %}
        <label>{{ song.songTitle }}
            {% if song.isFavorite %}
                <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/heart-512.png" alt="favorite"
                     height="15x"/>
            {% endif %}
        </label><br>
    {% endfor %}
{% endblock %}